main, .day, .form, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day {
    margin-bottom: 20px;
}

.videos {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

header h2 {
    text-align: center;
}

.day h3 {
    text-align: center;
    margin-bottom: 1px;
}

.invisible {
    color: rgb(165, 164, 164);
}

.active_button {
    background-color: white;
}

.inactive_button {
    background-color: blue;
}